.breakline {
    margin-top: 41px;
    border-top: 1px solid #BBBBBB;

    & &-text {
        color: #929292;
        font-size: 16px;
        font-weight: 400;
        width: max-content;
        margin: 0 auto;
        padding: 0 24px;
        background-color: #fff;
        transform: translateY(-9px);
    }
}