.button-google {

    button {
        background: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;

        .button-google-image {
                background: #fff;
                margin-right: 20px;
                width: 22px;
                height: 22px;

                border-radius: 100%;
        }


    }
}