.button-signup {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    button {
        width: 173px;
        height: 55px;
        border: none;
        background: #65D36E;
        font-weight: 700;
        font-size: 16px;
    }

}