.registration-form {
    & &-subtitle-h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        margin-bottom: 32px;
    }

    & &-input-label {
        float: left;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-top: 16px;

    }

    & &-input {
        width: 400px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin: 16px 0 16px;
        padding: 20px 0 19px 32px;


    }

    & &-subtitle-h4 {
        text-align: left;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        margin: 0 0 16px;
    }

    .month {
        width: 189px;
    }


}