.registration-form {
    & &-subtitle-h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        margin-bottom: 32px;
    }



    & &-description {
        text-align: left;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        margin: 0 0 16px;
    }

    & &-birth {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        width: 442px;

    }

    .month {
        width: 123px;
        padding-right: 32px;
        margin-top: 10px
    }

    .year {
        width: 85px;
        margin-top: 10px
    }

    .day {
        width: 76px;
        margin-top: 10px
    }

    & &-birth-input {
        text-align: left;

    }

    & &-gender {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    & &-gender-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    & &-gender-input {
        margin-right: 18px;
        margin-bottom: 18px;
        width: 20px;
        height: 20px;
    }

    & &-gender-label {
        text-align: left;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        margin-bottom: 18px;
        margin-right: 24px;
    }

    & &-marketing {
        display: flex;
        align-items: center;
        margin-top: 14px;
    }

    & &-marketing-input {
        width: 25px;
        height: 20px;
        margin-right: 18px;
    }

    & &-marketing-label {
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        text-align: justify;
    }

    &-terms {
        font-weight: 500;
        font-size: 13px;
        line-height: 15.6px;
        text-align: center;
        margin-top: 32px;
    }

    & &-login {
        font-weight: 600;
        font-size: 16px;
        line-height: 19.2px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 85px;
    }



}