.registration-form {
    & &-subtitle-h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        margin-bottom: 32px;
    }

    & &-input-label {
        float: left;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    & &-input {
        width: 400px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin: 0 0 16px;
        padding: 20px 0 19px 32px;


    }

    & &-description {
        text-align: left;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        margin: 0 0 16px;
    }

    & &-birth {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        width: 442px;

    }

    .month {
        width: 123px;
        padding-right: 32px;
        margin-top: 10px
    }

    .year {
        width: 85px;
        margin-top: 10px
    }

    .day {
        width: 76px;
        margin-top: 10px
    }

    & &-birth-input {
        text-align: left;

    }

    & &-gender {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    & &-gender-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    & &-gender-input {
        margin-right: 18px;
        margin-bottom: 18px;
        width: 20px;
        height: 20px;
    }

    & &-gender-label {
        text-align: left;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        margin-bottom: 18px;
        margin-right: 24px;
    }

}